{#
    description:
    parameters:
        * sCurrency
        * sOrderDate
        * sOrdernumber
        * sSumGrandTotal
        * sSumShipping
        * sSumVat
        * sVatPercentage
        * sSumArticleList
        * aBillingAddress - see /pkgExtranet/address/address.html.twig
        * aShippingAddress - see /pkgExtranet/address/address.html.twig
        * bShipToBillingAddress
        * sPaymentName
        * aArticleList

#}



{% if not sCurrency %}
    {% set sCurrency = '€' %}
{% endif %}

<div class="snippetShopOrderDetail">
    <div class="header">
        <span>{{ 'chameleon_system_chameleon_shop_theme.order.detail_headline'|trans({'%sOrdernumber%':sOrdernumber}) }}</span>
        <span>|</span>
        <span>{{ 'chameleon_system_chameleon_shop_theme.order.detail_date'|trans({'%sOrderDate%':sOrderDate}) }}</span>
        <hr/>
    </div>
    <div class="body">
        {% include 'pkgShop/shopOrder/status/orderStatus.html.twig' %}
        <div class="user_information row">
            <div class="block col-xs-12 col-sm-4">
                <div class="header">{{ 'chameleon_system_chameleon_shop_theme.order.detail_billing_address'|trans }}</div>
                <div class="body">
                    {% include '/pkgExtranet/address/address.html.twig' with aBillingAddress %}
                </div>
            </div>
            <div class="block col-xs-12 col-sm-4">
                <div class="header">{{ 'chameleon_system_chameleon_shop_theme.order.detail_shipping_address'|trans }}</div>
                <div class="body">
                    {% if bShipToBillingAddress == false %}
                        {% include '/pkgExtranet/address/address.html.twig' with aShippingAddress %}
                    {% else %}
                        {{ 'chameleon_system_chameleon_shop_theme.order.detail_shipping_address_is_billing_address'|trans }}
                    {% endif %}
                </div>
            </div>
            <div class="block col-xs-12 col-sm-4">
                <div class="header">{{ 'chameleon_system_chameleon_shop_theme.order.detail_payment'|trans }}</div>
                <div class="body">
                    {{ sPaymentName }}
                </div>
            </div>
        </div>
        <div class="article_list">
            {% include '/pkgShop/shopBasket/shopBasketArticleListAsTable.html.twig' with {'aArticleList': aArticleList} %}

            {% include "/pkgShop/shopBasket/shopBasketSummary.html.twig" %}
        </div>
    </div>
</div>