{#
    description: renders forgot password - change password form
    vars

    aTextData - optional - vars see /textBlock/textBlockSmallHeadline.html.twig
    aFieldUserName - required - vars see /userInput/form/text.html.twig
    aFieldNewPassword - required - vars see /userInput/form/text.html.twig
    aFieldNewPasswordCheck - required - vars see /userInput/form/text.html.twig
    targetURL - required
    sSpotName - optional
    sSuccessMessage - optional

#}


<div class="snippetFormChangeForgotPassword">
    {% if aTextData %}
    {% include "common/textBlock/textBlockSmallHeadline.html.twig" with aTextData%}
    {% endif %}

    {{sGlobalMessages|raw}}

    {% if bPasswordChanged == false %}
    <div class="form">
        <form accept-charset="utf-8" method="post" class="form-horizontal" action="{{sTargetURL}}">
            <input type="hidden" name="module_fnc[{{sSpotName}}]" value="ChangeForgotPassword" />
            <input type="hidden" name="{{sChangePasswordURLKeyParamName}}" value="{{sToken}}" />
                <div class="inputBlock">
                    <div class="userName">
                        {% set aFieldUserNameMapped = {
                            'sLabelClass' : formDefaultLabelClass,
                            'sInputClass' : formDefaultInputClass,
                            'sLabelText' : 'chameleon_system_chameleon_shop_theme.extranet.form_email'|trans,
                            'sName' : 'aUser[name]',
                            'sFieldId': "changePWLogin",
                            'bRequired' : true,
                            'sError': aFieldUserName.sError,
                            'sValue' : aFieldUserName.sValue}%}
                        {% include "/common/userInput/form/text.html.twig" with aFieldUserNameMapped%}
                    </div>
                </div>
                <div class="inputBlock">
                    <div class="userName">
                        {% set aFieldNewPasswordMapped = {
                            'sLabelClass' : formDefaultLabelClass,
                            'sInputClass' : formDefaultInputClass,
                            'sLabelText' : 'chameleon_system_chameleon_shop_theme.extranet.form_new_password'|trans,
                            'sName' : 'aUser[password]',
                            'sFieldId': "changePWNewPassword",
                            'bRequired' : true,
                            'sError': aFieldNewPassword.sError,
                            'sValue' : aFieldNewPassword.sValue}%}
                        {% include "/common/userInput/form/password.html.twig" with aFieldNewPasswordMapped%}
                    </div>
                </div>
                <div class="inputBlock">
                    <div class="userName">
                        {% set aFieldNewPasswordCheckMapped = {
                            'sLabelClass' : formDefaultLabelClass,
                            'sInputClass' : formDefaultInputClass,
                            'sLabelText' : 'chameleon_system_chameleon_shop_theme.extranet.form_new_password_check'|trans,
                            'sName' : 'aUser[password2]',
                            'sFieldId': "changePWNewPasswordCheck",
                            'bRequired' : true,
                            'sError': aFieldNewPasswordCheck.sError,
                            'sValue' : aFieldNewPasswordCheck.sValue}%}
                        {% include "/common/userInput/form/password.html.twig" with aFieldNewPasswordCheckMapped%}
                    </div>
                </div>
            {% include "/common/userInput/buttonStandard.html.twig" with {sButtonText:"chameleon_system_chameleon_shop_theme.action.submit"|trans, sButtonClass: formDefaultSubmitClass}%}
        </form>
    </div>
    {% endif %}
</div>