{#
    description: renders profile form to edit password
    vars

    aTextData - optional - vars see /common/textBlock/textBlockSmallHeadline.html.twig
    aFieldOldPassword - required - vars see /common/userInput/form/text.html.twig
    aFieldNewPassword - required - vars see /common/userInput/form/text.html.twig
    aFieldNewPasswordCheck - required - vars see /common/userInput/form/text.html.twig
    sSpotName - optional
    sWizardModuleModuleSpot - required
    sStepURL -required
    sCustomMSGConsumer - optional
    sSuccessMessage - optional

#}


<div class="snippetFormUserProfilePassword">
    {% if aTextData %}
    {% include "/common/textBlock/textBlockSmallHeadline.html.twig" with aTextData%}
    {% endif %}
    <div class="form">
        {{sSuccessMessage|raw}}
        <form accept-charset="utf-8" method="post" class="form-horizontal">
            <input type="hidden" value="ChangeUserPassword" name="module_fnc[{{sSpotName}}]">
            <input type="hidden" value="{{sSpotName}}" name="{{sWizardModuleModuleSpot}}">
            <input type="hidden" name="sFailureURL" value="{{sStepURL}}" />
            <input type="hidden" name="sSuccessURL" value="{{sStepURL}}" />
            <input type="hidden" name="sCustomConsumer" value="{{sCustomMSGConsumer}}" />
                <div class="inputBlock">
                    <div class="userName">
                        {% set aFieldOldPasswordMapped = {
                                'sLabelClass' : formDefaultLabelClass,
                                'sInputClass' : formDefaultInputClass,
                                'sHelpClass' : formDefaultHelpClass,
                                'sLabelText' : 'chameleon_system_chameleon_shop_theme.extranet.form_current_password'|trans,
                                'sName' : 'sRequirePassword',
                                'sFieldId': "profilePasswordOPassword",
                                'bRequired' : true,
                                'sError': aFieldOldPassword.sError,
                                'sValue' : aFieldOldPassword.sValue}%}
                        {% include "/common/userInput/form/password.html.twig" with aFieldOldPasswordMapped%}
                    </div>
                </div>
                <div class="inputBlock">
                    <div class="userName">
                        {% set aFieldNewPasswordMapped = {
                                'sLabelClass' : formDefaultLabelClass,
                                'sInputClass' : formDefaultInputClass,
                                'sHelpClass' : formDefaultHelpClass,
                                'sLabelText' : 'chameleon_system_chameleon_shop_theme.extranet.form_new_password'|trans,
                                'sName' : 'aUser[password]',
                                'sFieldId': "profilePasswordNPassword",
                                'bRequired' : true,
                                'sError': aFieldNewPassword.sError,
                                'sValue' : aFieldNewPassword.sValue}%}
                        {% include "/common/userInput/form/password.html.twig" with aFieldNewPasswordMapped%}
                    </div>
                </div>
                <div class="inputBlock">
                    <div class="userName">
                        {% set aFieldNewPasswordCheckMapped = {
                                'sLabelClass' : formDefaultLabelClass,
                                'sInputClass' : formDefaultInputClass,
                                'sHelpClass' : formDefaultHelpClass,
                                'sLabelText' : 'chameleon_system_chameleon_shop_theme.extranet.form_new_password_check'|trans,
                                'sName' : 'aUser[password2]',
                                'sFieldId': "profilePasswordCheck",
                                'bRequired' : true,
                                'sError': aFieldNewPasswordCheck.sError,
                                'sValue' : aFieldNewPasswordCheck.sValue}%}
                        {% include "/common/userInput/form/password.html.twig" with aFieldNewPasswordCheckMapped%}
                    </div>
                </div>
            {% include "/common/userInput/buttonStandard.html.twig" with {sButtonText:"chameleon_system_chameleon_shop_theme.action.submit"|trans, sButtonClass: formDefaultSubmitClass}%}
        </form>
    </div>
</div>