{#
    description: show an article with image, name, manufacturer, size, color and shipping information
    parameters:
        ** sManufacturer
        ** sArticleName
        ** sArticleColor
        ** sArticleSize
        ** sShippingInformation
#}

<div class="snippetShopArticleArticleBasket">
    <a href="{{sArticleDetailURL}}">
        {% if sManufacturer %}<span class="manufacturerName">{{sManufacturer}}</span>&nbsp;{% endif %}
        <span class="articleName">{{sArticleName}}</span>
    </a>
    {% set bHideTables = true%}

    <table class="table variant-information">
        <tbody>
            {% include "/pkgShop/shopArticle/variants/boxShow.html.twig"  %}
            {% if customData and customDataTwigTemplate %}
                {% include customDataTwigTemplate with customData %}
            {% endif %}
            {% if sShippingInformation %}
                <tr>
                    <td class="caption shipping">{{'chameleon_system_chameleon_shop_theme.checkout.basket_shipping'|trans}}:</td>
                    <td class="value shipping">{{sShippingInformation|raw}}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>