{#
  description: an text teaser with image on left side and text and link on the right
  parameters:
      ** sLinkFont  Set font (default = font_ubuntu_light_1)
      ** sLinkIconClass sprite class for icon (default i-point_dark_grey)
      ** sTitle
      ** sLinkURL
#}

<a class="snippetLinkStylesIcon {{sLinkFont|default('cmsBtn-small')}} hidden-md hidden-lg" href="{{ sLinkURL | raw}}" title="{{ sTitle}}" rel="nofollow" >
    <span class="linkimage i {{sLinkIconClass|default('i-point_dark_grey')}}">&nbsp;</span><span class="link">{{ sTitle}}</span>
</a>