{#
  description: renders a navigation tree
  parameters:
  - aTree: array of items (object or assoc array). each item has the following properties:
    ** bIsActive
    ** bIsExpanded
    ** sLink
    ** sTitle
    ** sSeoTitle (defaults to sTitle)
    ** aChildren - this is a subtree of the same form as aTree
#}

{% if iLevel is defined %}
    {% set iLevel = iLevel + 1 %}
{% else %}
    {% set iLevel = 1 %}
<nav>
    <div>
        {% endif%}
        <ul class="level_{{iLevel}} snippetNavigationFooter {% if iLevel == 1%} row{% endif %}">
            {% for oItem in aTree %}
                {% set sClass = 'level_'~iLevel %}
                {% set sLIClass = '' %}
                {% if iLevel == 1%} {%  set sLIClass = 'col-xs-6'%}{% endif %}
                {%if loop.last%}{% set sClass = sClass ~' lastNode'%}{% endif %}
                {%if oItem.bIsActive%}{% set sClass = sClass ~' active'%}{% endif %}
                {%if oItem.bIsExpanded%}{% set sClass = sClass ~' expanded'%}{% endif %}
                {%if loop.first%}{% set sClass = sClass ~' firstNode'%}{% endif %}
                <li class="{{sClass|trim}} {{ sLIClass|trim }}">
                    {% if iLevel == 2%}
                        {% include "/common/links/linkStylesIcon.html.twig" with {'sTitle':oItem.sTitle,'sLinkURL':oItem.sLink} %}
                    {% else %}
                        <a class="{{sClass|trim}} cmsHeadlineFoote" href="{{oItem.sLink|raw}}" title="{{oItem.sSeoTitle | default(oItem.sTitle)}}" {% if oItem.sTarget %}target="{{ oItem.sTarget }}"{% endif %}>{{oItem.sTitle}}</a>
                    {% endif %}
                    {% if oItem.aChildren %}
                        {% include _self with {'aTree': oItem.aChildren} %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% if iLevel == 1%}
    </div>
</nav>
{% endif %}
