{% if numberOfPages > 0 %}
    <div class="pkgShopArticleList">
        {% if listIcon or listTitle %}
            <div class="header">
                {% if listIcon %}<img class="box_header_icon" src="{{ listIcon.url |raw }}" alt="{{ listIcon.description }}" />{% endif %}
                {% if listTitle %}<h3>{{ listTitle }}</h3>{% endif %}
            </div>
        {% endif %}
        {% if  description_start %}{{ description_start|raw }}{% endif %}
        {{ articleList | raw }}
        {% if  description_end %}{{ description_end|raw }}{% endif %}
    </div>
{% endif %}